@import "tailwindcss";

:root {
  --color-primary: #6C63FF;
  --color-surface: #1E1E2E;
  --color-background: #13131F;
}

@theme {
  --color-primary: #6C63FF;
  --color-surface: #1E1E2E;
  --color-background: #13131F;
  --font-sans: 'Plus Jakarta Sans', sans-serif;
}

/* Hide scrollbar while keeping functionality */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}